.custom-modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(44, 62, 80, .19);
  z-index: 1999;
  animation: fadeIn .2s;
}
.custom-modal {
  position: fixed;
  inset: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-modal-dialog {
  min-width: 340px;
  max-width: 420px;
  width: 100%;
  background: #fff;
  box-shadow: 0 6px 32px 0 rgba(29, 41, 57, 0.15);
  animation: scalepop .22s cubic-bezier(.28,.89,.44,1.12);
}
.btn-close {
  box-shadow: none;
}
@media (max-width: 576px) {
  .custom-modal-dialog {
    min-width: 0;
    max-width: 97vw;
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes scalepop {
  from { opacity: 0; transform: scale(.88);}
  to   { opacity: 1; transform: scale(1);}
}
