.custom-modal-backdrop {
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(30, 30, 30, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 24px 0 rgba(32,40,45,.14);
  padding: 32px 28px 20px 28px;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.custom-modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background: none;
  font-size: 2rem;
  color: #aaa;
  cursor: pointer;
  transition: color 0.2s;
  z-index: 1;
}

.custom-modal-close:hover {
  color: #333;
}
