<div class="custom-modal-backdrop"></div>
<div class="custom-modal">
  <div class="custom-modal-dialog rounded-4 border shadow bg-white">
    <div class="d-flex justify-content-between align-items-center border-bottom px-4 py-2">
      <h5 class="modal-title fw-bold mb-0">
        {{ modoEdicion ? 'Editar Cliente' : 'Nuevo Cliente' }}
      </h5>
      <button class="btn-close" type="button" aria-label="Cerrar" (click)="cerrar.emit()"></button>
    </div>
    <form (ngSubmit)="guardarCliente()" #formClienteRef="ngForm" autocomplete="off" class="p-4 pt-3">
      <div class="card border-0 shadow-none rounded-4 px-3 py-3 mb-0">
        <div class="mb-3">
          <label class="form-label fw-bold">Nombre *</label>
          <input type="text" class="form-control" name="nombre" [(ngModel)]="formCliente.nombre" required placeholder="Nombre del cliente" maxlength="100" />
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold">Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="formCliente.email" placeholder="correo@cliente.com" />
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold">Teléfono</label>
          <input type="tel" class="form-control" name="telefono" [(ngModel)]="formCliente.telefono" placeholder="Ej: 600000000" />
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold">Dirección</label>
          <input type="text" class="form-control" name="direccion" [(ngModel)]="formCliente.direccion" placeholder="Dirección completa" />
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold">Provincia</label>
          <input type="text" class="form-control" name="provincia" [(ngModel)]="formCliente.provincia" placeholder="Ej: Madrid" />
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold">Código Postal</label>
          <input type="text" class="form-control" name="codigoPostal" [(ngModel)]="formCliente.codigoPostal" placeholder="CP" />
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold">Persona contacto</label>
          <input type="text" class="form-control" name="contacto" [(ngModel)]="formCliente.contacto" placeholder="Nombre y apellidos" />
        </div>

        <div *ngIf="error" class="alert alert-danger my-2 py-2 px-2 small">{{ error }}</div>
        <div class="d-flex justify-content-end gap-2 mt-3">
          <button type="button" class="btn btn-outline-secondary" (click)="cerrar.emit()" [disabled]="loading">
            Cancelar
          </button>
          <button type="submit" [disabled]="formClienteRef.invalid || loading" class="btn btn-primary">
            {{ modoEdicion ? 'Actualizar cliente' : 'Guardar cliente' }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
